.task-edit-container {
    margin: 20px;
  }
  
  .edit-form {
    width: 50%;
    margin: auto;
  }
  .edit-header {
    text-align: center;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  label {
    font-weight: bold;
  }
  
  .btn {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    color: white;
  }
  
  .btn-update {
    background-color: #2196F3; /* Blue */
  }
  .add-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .error-message {
    color: red;
  }