<div class="container task-edit-container">
    <button (click)="back()" class="add-button">Back to List</button>
    <div class="edit-header">
        <h2>Edit Task</h2>
    </div>
    <form [formGroup]="taskForm" class="edit-form" (ngSubmit)="updateTask()">
        <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" class="form-control" id="title" formControlName="title">
          <div *ngIf="taskForm.get('title')!.hasError('required') && taskForm.get('title')!.touched" class="error-message">
            Title is required.
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" id="description" formControlName="description"></textarea>
          <div *ngIf="taskForm.get('description')!.hasError('required') && taskForm.get('description')!.touched" class="error-message">
            Description is required.
          </div>
        </div>
        <div class="form-group">
          <label for="dueDate">Due Date:</label>
          <input type="date" class="form-control" id="dueDate" formControlName="dueDate">
          <div *ngIf="taskForm.controls['dueDate'].hasError('futureDate') && taskForm.controls['dueDate'].touched" class="error-message">
            Please select a future date.
        </div>
        </div>
        <button type="submit" class="btn btn-update">Update Task</button>
      </form>
    <!-- <form (ngSubmit)="updateTask()" class="edit-form">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="task.title" name="title" required>
        <div *ngIf="taskForm.get('title').hasError('required') && taskForm.get('title').touched">
            Title is required.
          </div>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" id="description" [(ngModel)]="task.description" name="description" required></textarea>
        <div *ngIf="taskForm.controls['description'].invalid && taskForm.controls['description'].touched">
            Description is required.
        </div>
      </div>
      <div class="form-group">
        <label for="dueDate">Due Date:</label>
        <input type="date" class="form-control" id="dueDate" [(ngModel)]="task.dueDate" name="dueDate" required>
        <div *ngIf="taskForm.controls['dueDate'].invalid && taskForm.controls['dueDate'].touched">
            Due Date is required.
        </div>
        <div *ngIf="taskForm.controls['dueDate'].hasError('futureDate') && taskForm.controls['dueDate'].touched">
            Please select a future date.
        </div>
      </div>
      <button type="submit" class="btn btn-update">Update Task</button>
    </form> -->
</div>
